[user]
	email = matus.rasti@gmail.com
	name = Rastislav Matus
[push]
	default = simple
[core]
	editor = vim
[http]
	proxy = http://webproxy.merck.com:8080
[https]
	proxy = http://webproxy.merck.com:8080
[url "https://"]
	insteadOf = git://
